@-webkit-keyframes dropdownAnimate {
    from {
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -20%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
  
@keyframes dropdownAnimate {
    from {
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
        visibility: visible;
        opacity: 0;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
@-webkit-keyframes fade{
    from {
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadeIn{
    from {
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}