* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
  padding: 10px !important;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

::-webkit-scrollbar-thumb {
  background: #2980b9;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  border-radius: 10px;
  width: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(41, 128, 185, 0.7);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

::-webkit-scrollbar-track {
  background: #081a25;
  padding: 10px;
  width: 20px;
  padding: 10px !important;
}

body {
  scrollbar-face-color: #2980b9;
  scrollbar-track-color: #081a25;
}

body {
  background-color: #ffffff;
  font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  color: rgba(0, 0, 0, 0.84);
  font-size: 14px;
  line-height: 1.5;
  overflow-y: scroll;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}

ul {
  list-style: none;
}

button {
  outline: none;
}

strong {
  font-weight: 500;
}

.col-25 {
  width: 25%;
}

.col-20 {
  width: 25%;
}

.col-50 {
  width: 50%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  width: calc(100% - 100px);
  margin: 0 auto;
  max-width: 1000px !important;
}

.btn-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.flex-0 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.flex-center {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.btn-signin {
  color: #ced6e0;
  line-height: 35px;
  font-size: 16px;
  padding: 4px 15px;
  border: 1px solid #ced6e0;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.btn-signin:hover {
  border-color: #f1f2f6;
  color: #f1f2f6;
}

.sup-required {
  color: red;
}

.header {
  padding: 20px 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99999999;
  position: relative;
}

.header .navbrand {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  color: #ebebeb !important;
  position: relative;
}

.header .header-title {
  padding: 0 10px;
  font-weight: 300;
  color: white;
}

.header .brand-logo {
  max-height: 40px;
  outline: none;
}

.header .media-social-icon {
  color: #ced6e0;
  line-height: 35px;
  padding: 11px 4px;
  font-size: 20px;
  -webkit-transition: color .3s ease-out;
  transition: color .3s ease-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .media-social-icon:hover {
  color: #ffffff;
}

.navigation {
  background-color: rgba(0, 0, 0, 0.6);
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 999;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation ul li:first-child a {
  padding: 10px 10px 10px 0px;
}

.navigation ul li {
  list-style: none;
}

.navigation ul li .link {
  color: #b4b4b4;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  text-decoration: none;
  display: block;
  font-size: 14px !important;
  letter-spacing: 0;
  font-weight: 300;
  font-style: normal !important;
  text-transform: uppercase !important;
  white-space: nowrap !important;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.navigation ul li .active {
  color: #0091EA !important;
}

.navigation ul li .active .arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.navigation ul li .active:hover {
  color: #0091EA !important;
}

.navigation ul li .link:hover {
  color: white;
}

.navigation ul .dropdown-menu {
  z-index: 1500;
  position: relative;
}

.navigation ul .dropdown-menu .arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.navigation ul .dropdown-list {
  position: absolute;
  z-index: -1;
  display: none;
  width: 100%;
  text-align: left;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.navigation ul .dropdown-menu:hover > .dropdown-list, .navigation ul .dropdown-menu:focus > .dropdown-list {
  -webkit-animation: dropdownAnimate 0.4s ease-out;
          animation: dropdownAnimate 0.4s ease-out;
  display: block;
}

.slider-container:before {
  background: url("../images/bg.jpg") no-repeat;
  background-size: 100% 100vh;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  content: "";
  z-index: -1;
}

.slider-container:after {
  background: rgba(0, 0, 0, 0.5);
  background: linear-gradient(30deg, #000000, rgba(10, 41, 99, 0.8));
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 190px;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 190px;
  }
}

@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #34495e;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #34495e;
  }
}

.slider-container {
  max-height: calc(100vh - 151px);
  width: 100%;
  height: calc(100vh - 151px);
  overflow: hidden;
}

.slider-container .btn-start-project:after {
  content: "";
  color: white;
  width: 0%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #34495e;
  position: absolute;
  z-index: -1;
}

.slider-container .btn-start-project {
  z-index: 99;
  position: relative;
  padding: 10px 20px;
  bottom: 0;
  border-radius: 10px;
  border: 1px solid #0091EA;
  color: #0091EA;
  cursor: pointer;
  overflow: hidden;
  -webkit-animation: fadeIn 2s ease-out;
          animation: fadeIn 2s ease-out;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.1, 1, 0.6, 0.1);
          transition-timing-function: cubic-bezier(0.1, 1, 0.6, 0.1);
}

.slider-container .btn-start-project .icon {
  margin-left: 5px;
}

.slider-container .btn-start-project span:before {
  content: "";
  color: white;
  width: 0%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #0091EA;
  position: absolute;
  z-index: -1;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  color: white;
  -webkit-transition-timing-function: cubic-bezier(0.1, 0.8, 0.6, 0.1);
          transition-timing-function: cubic-bezier(0.1, 0.8, 0.6, 0.1);
}

.slider-container .btn-start-project:hover {
  color: white;
}

.slider-container .btn-start-project:hover span:before {
  width: 100%;
}

.slider-container .btn-start-project:hover .icon {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.1, 0.3, 0.6, 0.1);
          transition-timing-function: cubic-bezier(0.1, 0.3, 0.6, 0.1);
}

.slider-container .slider {
  z-index: -1;
}

.slider-container .slider img {
  width: 100%;
  -webkit-animation: fade 10s infinite;
          animation: fade 10s infinite;
}

.slider-container .slider-caption {
  margin-top: 10%;
  position: absolute;
  z-index: 10;
  width: 100%;
}

.slider-container .slider-caption .subtitle {
  content: "test" !important;
  font-size: 20px;
  font-weight: 200;
  -webkit-animation: dropdownAnimate 0.5s ease-out;
          animation: dropdownAnimate 0.5s ease-out;
  color: #0091EA;
  margin: 0px 0;
}

.slider-container .slider-caption .title {
  width: 190px;
  font-size: 35px;
  font-weight: 300;
  color: #0091EA;
  margin: 10px 0;
  overflow: hidden;
  border-right: 2px solid #0091EA;
  white-space: nowrap;
  -webkit-animation: fadeIn 2s ease-out, typing 2s steps(12, end), blink-caret 0.75s step-end infinite;
          animation: fadeIn 2s ease-out, typing 2s steps(12, end), blink-caret 0.75s step-end infinite;
}

.slider-container .slider-caption p {
  width: 49%;
  font-size: 20px;
  line-height: 28px;
  font-weight: 100;
  text-align: left;
  color: #ecf0f1;
  -webkit-animation: fadeIn 3s ease-out;
          animation: fadeIn 3s ease-out;
  margin-bottom: 40px;
}

.content .content-title {
  text-align: center;
  font-weight: 300;
  font-size: 35px;
  padding: 20px 0;
}

.content .content-title:not(:first-child) {
  padding-top: 80px;
}

.content .introduction-content {
  padding: 20px 0;
}

.content .introduction-content .introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  line-height: 1.5;
  height: 100%;
  font-weight: 300;
}

.content .introduction-content .introduction p {
  padding-right: 50px;
}

.content .introduction-content .introduction p .blue {
  color: #3498db;
}

.new-product, .our-product {
  background-color: #fafafa;
  display: block;
  overflow: hidden;
  width: 100%;
  padding: 40px 0;
}

.our-product .product-item {
  margin: 20px;
}

.our-product .product-item img {
  height: 225px;
}

.product-item {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.product-item .product-image img {
  width: 100%;
  border-radius: 5px;
}

.product-item .product-title {
  font-size: 20px;
  font-weight: 400;
}

.product-item .product-description {
  color: rgba(0, 0, 0, 0.6);
}

.product-item .product-link {
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(41, 128, 185, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.product-item .product-link .btn-buy {
  border: solid 1px #ffffff;
  padding: 10px;
  color: #ffffff;
  border-radius: 5px;
}

.product-item:hover > .product-link {
  opacity: 1;
}

.product-item:hover > .product-image, .product-item:hover > .product-title, .product-item:hover > .product-description, .product-item:hover > .product-color, .product-item:hover > .product-size, .product-item:hover > .product-material {
  -webkit-filter: blur(20px);
          filter: blur(20px);
  -webkit-transition: -webkit-filter 0.4s cubic-bezier(0.1, 1.6, 0.65, 0.1);
  transition: -webkit-filter 0.4s cubic-bezier(0.1, 1.6, 0.65, 0.1);
  transition: filter 0.4s cubic-bezier(0.1, 1.6, 0.65, 0.1);
  transition: filter 0.4s cubic-bezier(0.1, 1.6, 0.65, 0.1), -webkit-filter 0.4s cubic-bezier(0.1, 1.6, 0.65, 0.1);
}

.product-item .product-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-item .product-color .color-label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.6);
}

.product-item .product-color .color {
  height: 10px;
  width: 10px;
  border: 1px solid #ebebeb;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
  margin: 1px;
  display: inline-block;
}

.product-item .product-color .blue {
  background-color: #2980b9;
}

.product-item .product-color .red {
  background-color: #c0392b;
}

.product-item .product-color .black {
  background-color: #2c3e50;
}

.product-item .product-color .yellow {
  background-color: #f1c40f;
}

.product-item .product-color .white {
  background-color: #ecf0f1;
}

.product-item .product-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-item .product-size .size-label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.6);
}

.product-item .product-size .size {
  font-size: 12px;
}

.product-item .product-material {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-item .product-material .material-label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.6);
}

.product-item .product-material .material {
  font-size: 12px;
}

.product-item .color-label span, .product-item .size-label span, .product-item .material-label span {
  width: 70px;
  display: inline-block;
}

.footer {
  padding: 40px 0 10px 0;
  font-weight: 300;
  background-color: #282828;
}

.footer .footer-brand {
  min-width: 100px;
  max-width: 70%;
}

.footer .footer-title {
  font-size: 20px;
  text-align: left;
  color: white;
  font-weight: 300;
  margin-bottom: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.footer ul li a {
  padding: 5px 0;
  display: block;
  font-weight: 300;
  color: #b4b4b4;
}

.footer ul li a:hover {
  color: white;
}

.footer .copyright {
  padding: 10px 0;
  width: 100%;
  display: block;
  margin-top: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #b4b4b4;
}

.footer .copyright strong {
  color: white;
}

.form-order {
  background-color: #ffffff;
  padding: 10px;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.5rem;
}

.form-group .form-label {
  font-size: 14px;
  font-weight: 300;
  margin: 5px 0;
}

.form-group .form-input, .form-group .number-input, .form-group .form-input-area {
  -webkit-transition: all 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06), border 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06);
  transition: all 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06), border 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06);
  border-radius: .25rem;
  border: 1px solid #dadada;
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  color: #495057;
  padding: .4375rem .75rem;
  will-change: border-color,box-shadow;
  background-clip: padding-box;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-group .form-input, .form-group .number-input {
  border-top: 1px solid #c0c0c0;
  letter-spacing: .3px;
}

.form-group .disabled {
  background-color: #dfe6e9 !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  color: #636e72;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  cursor: not-allowed !important;
}

.form-group .form-input:focus, .form-group .number-input:focus, .form-group .form-input-area:focus, .form-group select:focus {
  border-color: #e84393;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  outline: none;
}

.form-group .form-input-area {
  margin-left: 0;
  max-height: 150px;
  height: 80px;
  min-height: 80px;
  max-width: calc(100% - 1.6rem);
  min-width: calc(100% - 1.6rem);
}

.form-group .form-check {
  margin-right: 10px;
}

.form-group .form-check + label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form-group .has-error {
  border-color: #dd4b39;
}

.form-group select {
  height: 33px;
  border: 1px solid #dadada;
  font-size: 14px;
  cursor: pointer;
}

.form-group .error-message {
  display: block;
  color: #dd4b39;
  line-height: 17px;
  font-size: 12px;
}

.form-group .btn-order {
  padding: 10px 20px;
  cursor: pointer;
  color: #e84393;
  border: 1px solid #e84393;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-transform: uppercase;
  margin: 10px 0;
}

.form-group .btn-order:hover {
  background-color: #e84393;
  color: #ffffff;
}

.contact .contact-title {
  text-align: center;
  font-size: 35px;
  font-weight: 300;
}

.contact .quote {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #e84393;
}

.contact .contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contact-list .contact-item {
  padding: 10px 15px;
  color: #999999;
}

.contact .contact-list .contact-item:hover {
  color: #e84393;
}

.contact .media-social .social-icon {
  background-color: #ebebeb;
  border-radius: 50%;
  margin: 5px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.contact .media-social .social-icon:hover {
  background-color: #bbbbbb;
}

.contact .media-social .social-icon img {
  max-height: 40px;
}

@media only screen and (max-width: 500px) {
  .wrapper {
    width: calc(100% - 20px);
    margin: 0 auto;
  }
  .col-25, .col-20 {
    width: 100%;
  }
  .btn-start-project {
    position: absolute;
    padding: 10px 20px;
    bottom: 20px !important;
    right: 10px;
    left: 10px;
    text-align: center;
  }
  .slider-caption {
    margin-top: 10%;
    position: absolute;
    text-align: center;
  }
  .slider-caption .subtitle {
    font-size: 15px;
    font-weight: 200;
    -webkit-animation: fadeIn 5s ease-out;
            animation: fadeIn 5s ease-out;
    color: #e84393;
    text-align: center;
    margin: 0;
  }
  .slider-caption .title {
    font-size: 30px;
    font-weight: 300;
    -webkit-animation: dropdownAnimate 5s ease-out;
            animation: dropdownAnimate 5s ease-out;
    color: #e84393;
    margin: 0;
    text-align: center;
  }
  .slider-caption p {
    display: none;
  }
  .new-product .flex, .our-product .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .new-product .product-item, .our-product .product-item {
    margin: 20px 0;
  }
  .our-product .product-item {
    margin: 10px;
  }
  .our-product .product-item img {
    height: 300px !important;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navigation ul li a {
    text-align: center;
  }
  .footer {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer-brand {
    min-width: 100px;
    max-width: 50%;
    padding: 20px 0;
  }
  .footer .footer-title {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 20px;
  }
  .footer .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.dewasite-logo {
  position: absolute;
  right: 50px;
  top: 50px;
  height: 100vh;
  z-index: 400;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-animate {
  width: 300px;
  height: 300px;
}

.box-animate img {
  position: absolute;
  width: 300px;
}

.nav-bg-transparent {
  background-color: transparent !important;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nav-bg {
  background-color: #fdfdfd !important;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

.nav-bg ul li .link {
  color: #636e72 !important;
}

@-webkit-keyframes l-animate-three {
  0%, 50% {
    -webkit-transform: translateY(0);
    transform: translateY(0) rotate(-45deg);
    -webkit-animation-timing-function: cubic-bezier(0.2, 0.25, 0.55, 1);
    animation-timing-function: cubic-bezier(0.2, 0.25, 0.55, 1);
  }
  25% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px) rotate(-45deg);
    -webkit-animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
    animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
  }
  75% {
    -webkit-transform: translateY(7px);
    -webkit-transform-transform: translateY(7px) rotate(-45deg);
    -webkit-animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
    animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0) rotate(-45deg);
  }
}

@keyframes l-animate-three {
  0%, 50% {
    -webkit-transform: translateY(0);
    transform: translateY(0) rotate(-45deg);
    -webkit-animation-timing-function: cubic-bezier(0.2, 0.25, 0.55, 1);
    animation-timing-function: cubic-bezier(0.2, 0.25, 0.55, 1);
  }
  25% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px) rotate(-45deg);
    -webkit-animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
    animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
  }
  75% {
    -webkit-transform: translateY(7px);
    -webkit-transform-transform: translateY(7px) rotate(-45deg);
    -webkit-animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
    animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0) rotate(-45deg);
  }
}

@-webkit-keyframes l-animate-two {
  0%, 50% {
    -webkit-transform: translateY(0);
    transform: translateY(0) rotate(45deg);
    -webkit-animation-timing-function: cubic-bezier(0.2, 0.25, 0.55, 1);
    animation-timing-function: cubic-bezier(0.2, 0.25, 0.55, 1);
  }
  25% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px) rotate(45deg);
    -webkit-animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
    animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
  }
  75% {
    -webkit-transform: translateY(7px);
    -webkit-transform-transform: translateY(7px) rotate(45deg);
    -webkit-animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
    animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0) rotate(45deg);
  }
}

@keyframes l-animate-two {
  0%, 50% {
    -webkit-transform: translateY(0);
    transform: translateY(0) rotate(45deg);
    -webkit-animation-timing-function: cubic-bezier(0.2, 0.25, 0.55, 1);
    animation-timing-function: cubic-bezier(0.2, 0.25, 0.55, 1);
  }
  25% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px) rotate(45deg);
    -webkit-animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
    animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
  }
  75% {
    -webkit-transform: translateY(7px);
    -webkit-transform-transform: translateY(7px) rotate(45deg);
    -webkit-animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
    animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0) rotate(45deg);
  }
}

@-webkit-keyframes l-animate-one {
  0%, 50% {
    -webkit-transform: translateX(0);
    transform: translateX(0) rotate(90deg);
    -webkit-animation-timing-function: cubic-bezier(0.2, 0.25, 0.55, 1);
    animation-timing-function: cubic-bezier(0.2, 0.25, 0.55, 1);
  }
  25% {
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px) rotate(90deg);
    -webkit-animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
    animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
  }
  75% {
    -webkit-transform: translateX(7px);
    transform: translateX(7px) rotate(90deg);
    -webkit-animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
    animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
  }
  to {
    -webkit-transform: translateX(0);
    -webkit-transform-transform: translateX(0) rotate(90deg);
  }
}

@keyframes l-animate-one {
  0%, 50% {
    -webkit-transform: translateX(0);
    transform: translateX(0) rotate(90deg);
    -webkit-animation-timing-function: cubic-bezier(0.2, 0.25, 0.55, 1);
    animation-timing-function: cubic-bezier(0.2, 0.25, 0.55, 1);
  }
  25% {
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px) rotate(90deg);
    -webkit-animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
    animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
  }
  75% {
    -webkit-transform: translateX(7px);
    transform: translateX(7px) rotate(90deg);
    -webkit-animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
    animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
  }
  to {
    -webkit-transform: translateX(0);
    -webkit-transform-transform: translateX(0) rotate(90deg);
  }
}

@-webkit-keyframes animate-blur {
  0%, 50% {
    -webkit-filter: blur(100px);
            filter: blur(100px);
  }
  to {
  }
}

@keyframes animate-blur {
  0%, 50% {
    -webkit-filter: blur(100px);
            filter: blur(100px);
  }
  to {
  }
}

.l-one, .l-two, .l-three {
  position: absolute;
}

.l-one {
  top: 100px;
  left: -80px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  border-bottom: 50px solid #01569a;
  border-right: 50px solid transparent;
  height: 0;
  width: 190px;
  -webkit-animation: l-animate-one 3.5s ease infinite;
          animation: l-animate-one 3.5s ease infinite;
}

.l-two {
  top: 50px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-bottom: 50px solid #3b98c7;
  opacity: 0.9;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  width: 150px;
  -webkit-animation: l-animate-two 4s ease infinite;
          animation: l-animate-two 4s ease infinite;
}

.l-three {
  top: calc(95px * 2);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-top: 50px solid #01569a;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  width: 150px;
  -webkit-animation: l-animate-three 3s ease infinite;
          animation: l-animate-three 3s ease infinite;
}

.right {
  -webkit-animation: animate-logo-2 3.5s ease infinite;
          animation: animate-logo-2 3.5s ease infinite;
}

.top_1 {
  -webkit-animation: animate-logo 4s ease infinite;
          animation: animate-logo 4s ease infinite;
}

.top_2 {
  -webkit-animation: animate-logo 2s ease infinite;
          animation: animate-logo 2s ease infinite;
}

.bottom {
  -webkit-animation: animate-logo 3s ease infinite;
          animation: animate-logo 3s ease infinite;
}

.box-animate {
  position: relative;
  -webkit-animation: animate-blur 5s ease;
          animation: animate-blur 5s ease;
}
/*# sourceMappingURL=app.css.map */