@media screen and (max-width: 1920px){
    .contents{
        transform: scale(1) !important;
    }
}
@media screen and (max-width: 1620px){
    .contents{
        transform: scale(0.85)!important;
    }
}
@media screen and (max-width: 1370px){
    .contents{
        transform: scale(0.7)!important;
    }
}

#partner{
    background-color: #fafafa;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    background: linear-gradient(to bottom right, #fff, rgba(232, 67, 147,.5));
}
#person{
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.contents{
    width: 600px;
    margin: 0 auto;
    height: calc(100vh + 100px);
    z-index: 1;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    position: absolute;
    left: 0;
    bottom: 0;
    top: 20%
}
.contents:hover{
    width: 80%;
    margin: 0 auto;
}
.content{
    position: absolute;
    display: flex;
    align-items: center;
    opacity: 0;
    justify-content: center;
    background: rgba(255,255,255,0.5);
    bottom: auto;
    right: auto;
    border-radius: 100%;
    border-left: 7px solid #434343;
    border-right: 7px solid  #434343;
    transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
    transform: scale(1) !important;
}
.content:hover{
    background: rgba(255,255,255,255);
    -webkit-filter: drop-shadow(0px 0px 8px rgba(232, 67, 147,.9));
}

.contents:hover + #person {
    -webkit-filter: drop-shadow(0px 0px 9px rgba(232, 67, 147,.9));
}

.content:before{
    position: absolute;
    display: block;
    border-bottom: 3px dashed whitesmoke;
    content: "";
    left: 100px;
    z-index: -1;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    color: white;
    text-align: center;
}
.content:nth-child(4):before,.content:nth-child(5):before,.content:nth-child(6):before{
    transform: translate(-100%, 0);
    unicode-bidi: bidi-override;
    transform-origin: bottom left;
    left: 0;
}
.content img{
    padding:20px;
    transform: scale(1);
}
.content:nth-child(1), .content:nth-child(6){
    transition-delay: 500ms;
}
.content:nth-child(2), .content:nth-child(5){
    transition-delay: 300ms;
}
.content:nth-child(3), .content:nth-child(4){
    transition-delay: 100ms;
}


.contents:hover .content, .contents:hover .content:before{
    opacity: 1;
}
.contents:hover .content:nth-child(1){
    transition-delay: 450ms;
    transform: translateX(-350px) translateY(230px)!important;
}
.contents:hover .content:nth-child(2) {
    transition-delay: 300ms;
    transform: translateX(-400px) translateY(-30px)!important;
}
.contents:hover .content:nth-child(3) {
    transition-delay: 150ms;
    transform: translateX(-350px) translateY(-290px)!important;
}
.contents:hover .content:nth-child(4) {
    transition-delay: 150ms;
    transform: translateX(350px) translateY(-290px)!important;
}
.contents:hover .content:nth-child(5) {
    transition-delay: 300ms;
    transform: translateX(400px) translateY(-30%)!important;
}
.contents:hover .content:nth-child(6) {
    transition-delay: 450ms;
    transform: translateX(350px) translateY(230px)!important;
}

